<div class="login-form">
  <%= form_tag do %>

        <div class="field">          
          <label for="name">Имя:</label>
          <%= text_field_tag :name, params[:name] %>
        </div>
        <div class="field">
          <label for="password">Пароль:</label>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
          <%= submit_tag "Войти" %>
        </div>

  <% end %>
</div>
