body {
    height: 100%;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
    line-height: 10pt;
    min-width: 968px;
    background: url(../images/bg-page.jpg) no-repeat #FFF top center fixed !important;
    margin-top: 0;
}

#header {
    background: url("../images/bg-header.jpg") no-repeat scroll 0 0 transparent;
    height: 135px;
    margin-top: 10px;
    position: relative;
    width: 940px;
}

#body-container {
    margin: 0 auto;
    width: 960px;
    min-height: 600px;
}

#footer-container {
    background: url("../images/bg-footer.png") no-repeat scroll 50% 0 transparent;
    clear: both;
    color: #B3B3B3;
    line-height: 1.6em;
    padding: 140px 0 0;
    text-align: center;
}

#footer {
    margin-top: 15px;
}

#main {
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;

}

.cleaner {
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
    content: ' ';
}

/*Menu*/

#menu {
    float: right;
    margin-top: 99px;
    margin-right: 10px;
}

ul#menu li {
    background: url("../images/nav-off-right.gif") no-repeat scroll right top transparent;
    float: left;
    height: 36px;
    margin: 0 2px 0 0;
}

ul#menu li.on {
    background: url("../images/nav-on-right.gif") no-repeat scroll right top transparent;
}

ul#menu li a {
    background: url("../images/nav-off-left.gif") no-repeat scroll left top transparent;
    color: #DDDDDD;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    height: 36px;
    line-height: 30px;
    padding: 0 11px;
}

ul#menu li.on a {
    background: url("../images/nav-on-left.gif") no-repeat scroll left top transparent;
    color: #555555;
}

ul#menu li.on a:hover {
    color: #555;
}

ul#menu li a:hover {
    color: #ffffff;
}

/*Admin menu*/

#admin {
    position: absolute;
    right: 15px;
    top: 8px;
}

#admin ul {
    padding-left: -3px;
}

#admin ul li {
    float: left;
    height: 20px;
    padding-left: 10px;
}

#admin ul li a {
    color: #B6B6B6;
}

#admin ul li a:hover {
    color: #DDDDDD;
}

#admin ul li.on a {
    color: #ffffff;
}

#navigation {
    float: left;
    margin-right: 11px;
    margin-top: 11px;
    width: 190px;
}

#navigation h3 {
    background: url("../images/sidebar-title-blank.gif") no-repeat scroll left top transparent;
    height: 31px;
    margin-top: 15px;
    color: #DDDDDD;
    font-size: 1.2em;
    padding-top: 8px;
    overflow: hidden;
    letter-spacing: 0.8px;
}

#navigation h3:first-letter {
    color: yellow;
}

#navigation li a {
    background: url("../images/bullet-arrow.gif") no-repeat scroll 9px 7px transparent;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    display: block;
    height: 18px;
    text-align: left;
    padding-left: 30px;
    padding-top: 4px;
}

#navigation li a:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #000000;
}

#navigation li.on a {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #000000;
}

#delivery {
    background: url("../images/sidebar-clockface.png") no-repeat scroll left top transparent;
    height: 195px;
}

#delivery h3 {
    background: none;
    margin: 0;
}

/*Text formatting */

#content {
    float: left;
    margin-top: 11px;
    width: 749px;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0 1em;
}

#content h3 {
    color: #666666;
    font-size: 1.2em;
    margin: 0 0 0.4em;
}

.text-block {
    clear: both;
    margin: 10px 20px 10px 10px;
    overflow: auto;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5em;
}

.text-block strong {
    color: #666666;
}

.text-block a {
    color: #666666;
    text-decoration: underline;
}

.text-block p:first-letter {
    color: #ff0000;
}

.text-block img {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}

#delivery {
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: -0.8px;
}

#delivery h3 {
    font-size: 1.1em;
    padding-top: 45px;
    padding-bottom: 40px;
}

.product-grid {
    width: 100%;
    margin: 10px 20px 10px 10px;
}

.product-item {
    float: left;
    height: 262px;
    margin: 0 11px 11px 0;
    width: 175px;
}

.product-item .thumb {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 1px solid #000000;
    border-bottom: medium none -moz-use-text-color;
    border-image: none;
    display: block;
    height: 180px;
    width: 135px;
}

.product-item .details {
    background: url("../images/bg-buynow.gif") no-repeat scroll left top transparent;
    height: 57px;
    width: 137px;
}

.product-item .details a {
    background: url("../images/button-buynow.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 26px;
    margin: 7px 0 0 6px;
    overflow: hidden;
    text-indent: -550px;
    width: 63px;
}

.product-item .description, .product-item .size {
    color: #FFFFFF;
    font-size: 0.85em;
    line-height: 9pt;
    padding: 1px 6px 0 3px;
    text-align: right;
}

.product-item .price {
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 6px 6px 0 0;
    text-align: right;
    letter-spacing: -0.8px;
}

.product-item .price span {
    color: #FFFB02;
    font-weight: bold;
}

.product-item .details a:hover {
    background: url("../images/button-buynow.gif") no-repeat scroll 0 -52px transparent;
}

.product-item .details a:active {
    background: url("../images/button-buynow.gif") no-repeat scroll 0 -26px transparent;
}

#notice, #ajax-notice {
    font-size: 1.2em;
    letter-spacing: 1px;
    background: #DDDDDD;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 30px;
    margin: 0 250px;
    padding-top: 15px;
}

.login-form {
    clear: both;
    margin: 20px 210px 20px 200px;
    background: gray;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.login-form .field {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
}

.login-form .field label {
    display: block;
    height: 20px;
}

.big-table table {
    table-layout: fixed;
    width: 940px;
}

#content table td, th {
    padding: 10px;
}

#content td {
    text-align: left;
    border: 1px solid #000000;
}

.big-table .right-button {
    padding-left: 850px;
}

.wide-form {
    width: 940px;
    text-align: left;
    margin-top: 20px;
}

.wide-form .field, .wide-form .actions {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.wide-form .field label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}


