<div class="text-block">

  <h3>Cообщение</h3>

  <p>
    <b>Почтовый адрес:</b>
    <%= @feedback_mail.email %>
  </p>

  <p>
    <b>Имя:</b>
    <%= @feedback_mail.name %>
  </p>

  <p>
    <b>Телефон:</b>
    <%= @feedback_mail.phone %>
  </p>

  <p>
    <b>Сообщение:</b>
    <%= @feedback_mail.message %>
  </p>


</div>