<div class="maincontent">

  <h3>Cообщение</h3>

  <p>
    <b>Email:</b>
    <%= @feedback_mail.email %>
  </p>

  <p>
    <b>Name:</b>
    <%= @feedback_mail.name %>
  </p>

  <p>
    <b>Phone:</b>
    <%= @feedback_mail.phone %>
  </p>

  <p>
    <b>Message:</b>
    <%= @feedback_mail.message %>
  </p>


</div>