<link rel="stylesheet" media="screen" href="/stylesheets/jquery.handsontable.full.css">

<script src="/javascripts/jquery.handsontable.full.js"></script>
<script src="/javascripts/depot.js"></script>

<div class="admin-area">

  <div class="right-button">
      <input id="count"  type="text" value="0">
      <input id="addButton"  type="submit" value="Добавить">
      <input id="loadButton" type="submit" value="Загрузить">
  </div>
</div>


<div id="dataTable"></div>

