<link rel="stylesheet" media="screen" href="/stylesheets/jquery.handsontable.full.css">

<script src="/javascripts/jquery.handsontable.full.js"></script>
<script src="/javascripts/edit_items_in_depot.js"></script>

<div class="admin-area">

  <div class="right-button">
    <input id="saveButton" type="submit" value="Сохранить">
  </div>
</div>


<div id="dataTable"></div>

