<div class="text-block">
  <h3>Траурные венки из живых цветов</h3>
 <span>
  Состав каждого изделия указан в описании. Состав может быть изменен по желанию
    заказчика или из-за отсутствия некоторых материалов.</span>

  <ol>
    <li>
      1.&nssp;<strong>Венки из живых цветов</strong> заказываются заранее (примерно за сутки и более). Это время требуется
      для того, чтобы заказ был выполнен качественно и <strong>цветы были свежие. </strong>
    </li>
    <li>
      2.&nssp;При заказе <strong>венка из живых цветов</strong> клиент должен внести предоплату за изделие в размере около
      100% от суммы заказа. Это общепринятое правило <strong>флористических студий. </strong>
    </li>
    <li>
      3.&nssp;Заказ на изделие можно сделать либо через корзину на сайте, либо по телефону +7 (911)127-71-77 Елена
    </li>
  </ol>


</div>

<%= render 'template' %>

