<div class="text-block">
  <h3>Венки серии “Защитникам Отечества”</h3>
  <span>
    Чтобы выразить достойную дань уважения и благодарность нашим героям, защитникам Отечества,
    мы создали уникальную серию изделий для возложения к мемориалам.
    За основу изделий взяты ордена: “Отечественная Война” 1 степени, орден Боевого Красного Знамени,
    геральдический знак Красной Звезды, флаг ВМФ Российской Федерации и д.р. Венки данной категории
    отличаются исключительностью и неповторимым подходом в исполнении.
    </span>

  <p>
    Изделия, предлагаемые нами в данной категории, уже 8 лет украшают мемориалы Санкт-Петербурга,
    Москвы, Калининграда и других регионов Российской Федерации, а так же Германии, США и Канады.
  </p>
</div>


<%= render 'template' %>
