<div class="text-block">
  <h3>Траурные корзины из искусственных цветов</h3>

<span>
   В ассортименте - более 70 моделей траурных корзин из искусственных цветов.
   Каркас ритуальной корзины выполнен из высокопрочного металлического прута.
   Оплетен ритуальным ершом, который производим сами.
  Мы знаем, что наши ритуальные изделия сохраняют свой первоначальный вид долгие годы.
</span>
  <ol>
    <li>
      1.&nbsp;К каждой корзине можно заказать траурную ленту с любым текстом, которая изготавливается всего за 2 мин.
    </li>
  </ol>
  <span>Стоимость ленты – 300 руб.</span>
</div>


<%= render 'template' %>

