<div class="text-block">
  <h3>Траурные венки из искусственных цветов</h3>
 <span>
  Мы предлагаем более 200 уникальных моделей ритуальных венков из искусственных цветов.
 </span>

  <ol>
    <li>
      1.&nbsp;Эксклюзивные/Авторские/Элитные венки от 5000 руб.
    </li>
    <li>
      2.&nbsp;Ритуальные венки большого размера от 2000 руб. до 5000 руб.
    </li>
    <li>
      3.&nbsp;Ритуальные венки среднего размера от 900 руб. до 2000 руб.
    </li>
    <li>
      4.&nbsp;Ритуальные венки малого размера. Поминальные венки 150 руб. до 900 руб.
    </li>
    <li>
      5.&nbsp;Венки серии “Защитникам Отечества” от 500 руб. до 5500 руб.
    </li>
  </ol>
<span>
  Каркас траурного венка выполнен из прочного металлического прута и оплетен ритуальным ершом собственного производства.
  К венку мы можем изготовить траурную ленту с любым текстом. Стоимость ленты – 300 руб, изготавливается за 2 минуты.
 </span>
</div>

<%= render 'template' %>

