<div class="text-block">
  <h3>Траурные венки из искусственных цветов</h3>
 <span>
  Мы предлагаем более 200 уникальных моделей ритуальных венков из искусственных цветов.
 </span>
 <span>
  Каркас траурного венка выполнен из прочного металлического прута и оплетен ритуальным ершом собственного производства.
  К венку мы можем изготовить траурную ленту с любым текстом. Лента изготавливается за 2 минуты.
 </span>
</div>
<%= render 'template' %>