<h3>Венки</h3>

<%= render 'template' %>

<div class="sort">
  Сортировать по:
  <%=
     if params[:sort] == nil
       link_to "Дате выпуска", :controller => "store", :action => "show_venki", :sort => "date"
     else
       link_to "Цене", :controller => "store", :action => "show_venki"
     end
  %>
</div>
