<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="Description"
        content="Продажа ритуальных траурных венков и корзин в Санкт-Петербурге"/>
  <meta name="Keywords" content="траурные,ритуальные,венки,спб,петербург"/>
  <meta name="robots" content="all,follow"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/new-template.css" media="screen" rel="stylesheet" type="text/css"/>
  <!--[if lte IE 6]>
  <script type="text/javascript" src="/javascripts/IE/unitpngfix.js"></script>
  <![endif]-->
  <%= csrf_meta_tag %>
  <title>Траурные ритуальные венки и корзины Санкт-Петербург</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body>
<div id="body-container">
  <div id="main">
    <div id="header">
      <a href="/"><img id="hearder_img" src="/images/pk_venok.jpg" alt="Производственная Компания Венок"></a>

      <div id="admin">
        <ul>
          <% if session[:admin] %>
              <li><a href="/admins">Администраторы</a></li>
              <li><a href="/pages">Страницы</a></li>
              <li><a href="/feedback_mails">Сообщения</a></li>
              <li><a href="/depot_items">Склад</a></li>
              <li><a href="/products">Товары</a></li>
              <li><a href="/orders">Заказы</a></li>
              <li><a href="/logout">Выйти</a></li>
          <% else %>
              <li><a href="/login">Войти</a></li>
          <% end %>
        </ul>
      </div>

      <% unless session[:admin] %>
          <div id="basket"><a href="/basket" class="basketInfo"></a></div>
      <% end %>

      <ul id="menu">
        <li><a href="/ritual_venki">Венки</a></li>
        <li><a href="/ritual_korsinu">Корзины</a></li>
        <li><a href="/delivery">Доставка и оплата</a></li>
        <li><a href="/wholesale">Опт</a></li>
        <li><a href="/contacts">Контакты</a></li>
      </ul>
    </div>

    <% unless session[:admin] %>
        <div id="navigation">
          <a href="/delivery">
            <div id="delivery">
              <h3>Доставка по Спб</h3>

              <p>На следующий день</p>

              <p>400 руб</p>
            </div>
          </a>

          <h3>Венки</h3>
          <ul>
            <li><a href="/ritual_venki?filter=new">Новинки</a></li>
            <li><a href="/ritual_venki?filter=military">Защитникам Отечества</a></li>
            <li><a href="/ritual_venki?filter=big">Большие (от 100 см)</a></li>
            <li><a href="/ritual_venki?filter=middle">Средние (80-100см)</a></li>
            <li><a href="/ritual_venki?filter=small">Маленькие (до 80 см)</a></li>
            <li><a href="/ritual_venki?filter=in_store">В наличие на складе</a></li>
          </ul>

          <h3>Корзины</h3>
          <ul>
            <li><a href="/ritual_korsinu?filter=new">Новинки</a></li>
            <li><a href="/ritual_korsinu?filter=big">Большие (от 100 см)</a></li>
            <li><a href="/ritual_korsinu?filter=middle">Средние (80-100см)</a></li>
            <li><a href="/ritual_korsinu?filter=small">Маленькие (до 80 см)</a></li>
            <li><a href="/ritual_korsinu?filter=in_store">В наличие на складе</a></li>
          </ul>

        </div>
    <% end %>


    <div id="content">
      <%= raw print_notice(notice) %>
      <%= yield %>
    </div>
  </div>
</div>


<div id="footer-container">
  <div id="footer">
    Производственная Компания &laquo;Венок&raquo; 2009&mdash;2013
  </div>
</div>

</body>
</html>
