<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->
  <meta name="Description"
        content="Продажа ритуальных траурных венков и корзин в Санкт-Петербурге"/>
  <meta name="Keywords" content="траурные,ритуальные,венки,спб,петербург"/>
  <meta name="robots" content="all,follow"/>

  <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/new-template.css" media="screen" rel="stylesheet" type="text/css"/>
  <!--[if lte IE 6]><script type="text/javascript" src="/javascripts/IE/unitpngfix.js"></script><![endif]-->
  <%= csrf_meta_tag %>
  <title>Траурные ритуальные венки и корзины Санкт-Петербург</title>
  <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-1.9.1-ui.min.js"></script>
</head>
<body>
<%= render :file => '/layouts/_counters.html' %>
<a id="move_up" href="#">&#9650; Наверх</a>
<script type="text/javascript" src="/javascripts/index.js"></script>
<div id="body-container">
  <div id="main">
    <div id="header">
      <a href="/"><img id="hearder_img" src="/images/pk_venok.jpg" alt="Производственная Компания Венок"></a>

      <div id="admin">
        <ul>
          <% if session[:admin] %>
              <li><a href="/admins">Администраторы</a></li>
              <li><a href="/pages">Страницы</a></li>
              <li><a href="/feedback_mails">Сообщения</a></li>
              <li><a href="/depot_items">Склад</a></li>
              <li><a href="/products">Товары</a></li>
              <li><a href="/orders">Заказы</a></li>
              <li><a href="/logout">Выйти</a></li>
          <% else %>
              <li><a href="/login">Войти</a></li>
          <% end %>
        </ul>
      </div>

      <% unless session[:admin] %>
          <div id="basket"><a href="/basket" class="basketInfo"></a></div>
      <% end %>

      <ul id="menu">
        <li><a href="/ritual_venki">Венки</a></li>
        <li><a href="/ritual_korsinu">Корзины</a></li>
        <li><a href="/traurnie_venki">Живые Венки</a></li>
        <li><a href="/goods">Кресты</a></li>
        <li><a href="/funeral_tape">Ленты</a></li>
        <li><a href="/delivery">Доставка и оплата</a></li>
        <li><a href="/wholesale">Опт</a></li>
        <li><a href="/spb_contacts">Контакты</a></li>
      </ul>
    </div>

    <% unless session[:admin] %>
        <div id="navigation">
          <a href="/delivery">
            <div id="delivery">
              <h3>Доставка сегодня</h3>
              <h3>Самовывоз</h3>
              <p>5 мин. от КАД</p>
              <p>3 мин. от метро</p>
            </div>
          </a>

          <h3>Венки</h3>
          <ul>
            <li><a href="/ritual_venki?filter=new">Новинки</a></li>
            <li><a href="/ritual_venki?filter=military">Защитникам Отечества</a></li>
            <li><a href="/ritual_venki?filter=big">Большие (от 100 см)</a></li>
            <li><a href="/ritual_venki?filter=middle">Средние (80-100см)</a></li>
            <li><a href="/ritual_venki?filter=small">Маленькие (до 80 см)</a></li>
            <li><a href="/ritual_venki?filter=in_store">В наличие на складе</a></li>
          </ul>

          <h3>Корзины</h3>
          <ul>
            <li><a href="/ritual_korsinu?filter=new">Новинки</a></li>
            <li><a href="/ritual_korsinu?filter=big">Большие (от 100 см)</a></li>
            <li><a href="/ritual_korsinu?filter=middle">Средние (80-100см)</a></li>
            <li><a href="/ritual_korsinu?filter=small">Маленькие (до 80 см)</a></li>
            <li><a href="/ritual_korsinu?filter=in_store">В наличие на складе</a></li>
          </ul>

          <h3>Кресты</h3>
          <ul>
            <li><a href="/goods?filter=in_store">В наличие на складе</a></li>
          </ul>

          <h3>Живые венки</h3>
          <ul>
            <li><a href="/traurnie_venki">Каталог</a></li>
          </ul>


        </div>
    <% end %>


    <div id="content">
      <%= raw print_notice(notice) %>
      <%= yield %>
    </div>
  </div>
</div>

<div id="dialog" title="Подождите"></div>

<div id="footer-container">
  <div id="footer">
    Производственная Компания &laquo;Венок&raquo; 2009&mdash;2015
  </div>
</div>
</body>
</html>
